/coverage
/node_modules
/tmp
/packages/client/.husky
/packages/client/.next
/packages/client/.vercel
/packages/server/dist
/packages/server/data
/packages/server/node_modules/
/packages/server/redis.conf