@import './reset.css';
@import './fonts.css';

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hide__scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom__scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom__scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background: #2f80ed;
  border-radius: 9999px;
  background-clip: padding-box;
}

.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 129, 237, 0.8);
}
